<%-- 
Name: $AdditionalControl$EventNameEventArgs.Tests.cs.cst
Author: Quinn Gil
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="JS"  %>

<%-- 01) Module --%>
<%@ Property Name="CodeSafeModuleName" Type="System.String" Optional="False" Category="01) Module" Description="A version of the module name that is safe to use in code, Alpha Only is safest." %>
<%@ Property Name="RootNamespace" Type="System.String" Optional="False" Category="01) Module" Description="The namespace the module belongs in. (eg - {CompanyName}.Modules). The name of the module will be appended." %>

<%-- 01.1) Module Controls --%>
<%@ Property Name="AdditionalControl" Type="System.String" Optional="True" Category="01.1) Module Controls" Description="The control that this is being generated for." %>

<%--Begin File Generation Code --%>
using System;
using System.Web;
using Moq;
using MbUnit.Framework;
using <%= RootNamespace %>.<%= CodeSafeModuleName %>.Views;

namespace <%= RootNamespace %>.<%= CodeSafeModuleName %>
{
    [TestFixture]
    public class <%= AdditionalControl %>EventNameEventArgsTests
    {
        [Test]
        public void <%= AdditionalControl %>EventNameEventArgs_Construct_SomeKindaMessage()
        {
            //Arrange
            var msg = "This is my message";

            //Act
            var args = new <%= AdditionalControl %>EventNameEventArgs(msg);

            //Asset
            Assert.AreEqual(msg, args.SomeKindaMessage);
        }
    }
}
