<%-- 
Name: I$ModuleName$Controller.cs.cst
Author: Quinn Gil
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#"  %>
<%-- 01) Module --%>
<%@ Property Name="CodeSafeModuleName" Type="System.String" Optional="False" Category="01) Module" Description="A version of the module name that is safe to use in code, Alpha Only is safest." %>
<%@ Property Name="RootNamespace" Type="System.String" Optional="False" Category="01) Module" Description="The namespace the module belongs in. (eg - {CompanyName}.Modules). The name of the module will be appended." %>

<%--Begin File Generation Code --%>
namespace <%= RootNamespace %>.<%= CodeSafeModuleName %>
{
    public interface I<%= CodeSafeModuleName %>Controller
    {
    }
}